

#title{
    background-color: #ff4c68;
    color: #fff;
    padding: 20px;
}

.margin-adder{
    margin-top: 5%;
}

h1,h2,h3{
    font-family: "Montserrat-Black";
    font-weight: bold ;
    line-height: 1.5;
}

.big-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
}

/* font-awesome website for icons */
/* this already has been defined by bootstrap but we are modifying it */
.container-fluid{
    padding: 3% 15% 7%;
}

.navbar{
    padding: 0 0 2.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    /* width: 50%; */
    margin-left: 5%;
    transform: rotate(25deg);
    width: 20vw;
    position: absolute;
}

#features{
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 4%;
}

p{
    color: grey;
}

.icon{
    color: #ef8172;
    margin: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
    padding: 5% 0%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
width: 10%;
border-radius: 100%;
margin: 20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}


/* cta section */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5px;
    color: #fff;
    padding: 7% 15%
}

.cta-heading{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}


/* footer section */
.outer{
    margin: 2%;
}

.spacer{
    margin: 5px;
}

#footer{
    text-align: center;
    margin: 50px;
}

.social-icons{
    margin: 20px 10px;
}

@media (max-width: 1028px) {

    #title{
        text-align: center;
    }

    .title-image {
        position: static;
        width: 35vw;
        /* this will be default */
        transform: rotate(0); 
    }
}
